.trenko-buttons-container {
}

@keyframes blink {
    50% {
        background-color: orange;
    }
}

.check-in-button {
    animation: blink 1s steps(1, end) infinite;
}

.add-to-agenda-button {
}

.post-agenda-button {
    background-color: orange !important;
}

.clock-effort-button {
}

.add-break-button {
    
}

.check-out-button {
    background-color: #ff7e7e !important;
}

.card-report-button {
}